table:not([class*="ant-"]) {
	border-top-width: 0px;
}

.oskari-root-el > nav {
  min-width: 200px;
  flex-basis: 200px;
}
div.oskari-flyout div.oskari-flyoutcontent a {
  color: #f47a5c;
}

div.oskari-flyout div.oskari-flyoutcontent a:hover {
  color: #f47a5c;
}

table {
  border-top-width: 0px;
}

table td {
  text-align: left;
  vertical-align: top;
}

.logo {
  background-image: url("logo.png");
  height: 95px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

#lounais-text {
  color: #ddd;
  margin-top: -4px;
  margin-left: 16px;
  line-height: 18px;
  padding-bottom: 4px;
}

#maptools div#menubar .oskari-tile-status {
  margin-right: 3px;
}

.icon-bubble-right {
  background-image: url("valintaosoitin.png") !important;
  background-position: 0 !important;
}

div.tool.marker-share {
  background-image: url("marker-share-dark.png") !important;
  background-position: 0 !important;
}

#login {
  margin-left: 16px !important;
  margin-right: 16px !important;
  margin-top: 32px !important;
}

#login input[type="text"],
#login input[type="password"] {
  width: 90%;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #B7B7B7;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: #878787;
  font: 13px/100% Arial, sans-serif;
}

#login input[type="submit"] {
  width: 100% !important;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #B7B7B7;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: #878787;
  font: 13px/100% Arial, sans-serif;
}

#login p.error {
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

#login a {
  color: #FFF;
  padding: 5px;
  font-size: 12px;
}

.affiliate_logos {
  background-image: url(karttapalvelu-logot.png);
  position: absolute;
  bottom: 0em;
  width: 150px;
  height: 100px;
  margin: 12px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

@media screen and (max-height: 850px) {
  .affiliate_logos {
    background-image: url(karttapalvelu-logot.png);
    position: static !important;
    width: 150px;
    height: 100px;
    margin: 1em 12px 12px 12px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
  }
}

.login-a {
  padding: 5px 5px 5px 0px !important;
  font-size: 14px !important;
}

.login-a:link {
  text-decoration: none !important;
}

.login-a:visited {
  text-decoration: none !important;
}

.login-a:hover {
  text-decoration: underline !important;
}

#toggle-login {
  cursor: pointer;
}

#toggle-login:hover {
  text-decoration: underline !important;
}
