$mainColor: #f47a5c;
$mainLightColor: #99c7dF;
$mainHoverColor: #338fc0;
$lightFontColor: #ffffff;

$menuColor: $mainColor;
$hoverMenuColor: #66abd0;
$menuTextColor: $lightFontColor;
$menuToolBorderColor: #ffffff;
$menuToolHoverColor: $mainHoverColor;
$flyoutHeaderTopColor: $mainColor;
$flyoutHeaderBottomColor: #eee;

$popupBorderColor: $mainColor;
$popupToolHeaderColor: #f47a5c;
$popupHeaderFontColor: $lightFontColor;

$ribbonTextColor: $lightFontColor;
$ribbonBackgroundColor: #7ab800;

$menuWidth: 200px;

%menu-links {
  a {
        color: $lightFontColor;
        &:hover {
            color: $mainHoverColor;
        }
    }
}

%flyout-links {
  a {
        color: $mainColor;
        &:hover {
            color: $mainColor;
        }
    }
}

%menu-text-divs {
    color: $lightFontColor;
    font-size: 12px;
    margin-left: 16px;
}



table {
  border-top-width: 0px;
  td {
    text-align: left;
    vertical-align: top;
  }
}

.logo {
  background-image: url('logo.png');
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

#lounais-text {
    color: #ddd;
    margin-top: -4px;
    margin-left: 16px;
    line-height: 18px;
    padding-bottom: 4px;
}


#contentMap {
    margin-left: $menuWidth !important;

    &.mapPrintoutMode{
        margin-left: 252px !important;
    }
}

#maptools {
    width: $menuWidth !important;


    div#menubar {

        .oskari-tile-status {
            margin-right: 3px;
        }
    }

    #toolbar {
    }
}

.icon-bubble-right {
    background-image: url('valintaosoitin.png') !important;
    background-position: 0 !important;
}

div.tool {
    &.marker-share {
        background-image: url('marker-share-dark.png') !important;
        background-position: 0 !important;
    }
}

div.oskari-flyout {
    div.oskari-flyouttoolbar {
            background-color: $flyoutHeaderBottomColor;
        div.oskari-flyoutheading {
            background-color: $flyoutHeaderTopColor;
            border-color: $flyoutHeaderTopColor;
        }
    }
    div.oskari-flyoutcontent {
        @extend %flyout-links;

        color: #000000 !important;

        .field-description {
            color: #000000 !important;
        }

        &.userguide {

            .tool-background-color {
                background-color: #333438;
            }
        }

        &.routesearch {
            a {
                color: #FAFAFA;

                &.disabled {
                    color: #3c3c3c;
                }
            }
        }
    }
}

/** Tools */
#contentMap {
    div.oskariui-mode-content {
        div.oskariui-center {
            div#mapdiv {
                div.mapplugins {
                    div.mappluginsContainer {
                        div.mappluginsContent {
                            div.mapplugin {
                                &.coordinatetool {
                                    &.toolstyle-default {
                                        background-color: $mainColor;
                                    }
                                }

                                &.featuredataplugin {
                                    &.toolstyle-default {
                                        background-color: $mainColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
div.divmanazerpopup {
    .popupHeader {
        background-color: $popupToolHeaderColor !important;
        color: $popupHeaderFontColor;
    }
}


.download-basket__component-title {
    background-color: $flyoutHeaderBottomColor !important;
}

img.map, map area{
    outline: none;
}

.userguide_table {
    &.first_header {
        td {
            &:first-child {
                width: 110px;
            }
        }
    }
}

table.layer-rights-table {
    tbody {
        @media screen and (max-height: 600px) {
          max-height: 56px;
        }
        @media screen and (max-height: 800px) and (min-height: 600px) {
          max-height: 250px;
        }
        @media screen and (min-height: 800px) {
          max-height: 450px;
        }
    }
}


.mobileToolbarDiv {
    background-color: $mainColor !important;
}



/* Selection colours */
::selection {
  background: $mainLightColor;
}

::-moz-selection {
  background: $mainLightColor;
}

div.basic_printout {
    & > .header:first-child {
        background-color: $mainColor !important;
    }
}

#login {
    margin-left: 16px !important;
    margin-right: 16px !important;
    margin-top: 32px !important;

    input[type="text"], input[type="password"] {
        width: 90%;
        margin-bottom: 5px;
        background-repeat: no-repeat;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #B7B7B7;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        color: #878787;
        font: 13px/100% Arial,sans-serif;
    }

    input[type="submit"] {
        width: 100% !important;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #B7B7B7;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        color: #878787;
        font: 13px/100% Arial,sans-serif;
    }

    p.error {
        font-weight: bold;
        color : red;
        margin-bottom: 10px;
    }

    a {
        color: #FFF;
        padding: 5px;
        font-size: 12px;
    }
}

#contentMap div.oskariui-mode-content div.oskariui-center div#mapdiv div.mapplugins div.mappluginsContainer div.mappluginsContent div.mapplugin.featuredataplugin.toolstyle-default {
z-index:100000;}

/*
.logoplugin .icon {
    background-image: url(../../lounaistieto_icon_musta.png) !important;
}*/

div.layerselector2 div.layer div.layer-backendstatus-icon {
    display: none !important;
}

.affiliate_logos {
    background-image: url(karttapalvelu-logot.png);
    position: absolute;
    bottom: 0em;
    width: 150px;
    height: 90px;
    margin: 12px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    @media screen and (max-height: 850px) {
        display: none;
    }
}